.form__user-box {
  width: 358px;
  padding: 10px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  outline: none;
  background: transparent;
}